@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #18181B;
}
body {
  color: var(--foreground);
  background: var(--background);
  @apply bg-neutral-900 text-neutral-100;
}


pre{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}
button, a {
  cursor: pointer;
}

span >*.renderedMDAssistant{
  padding-top: 4px;
}

:root {
  scroll-padding: 0;
}
/* width */
::-webkit-scrollbar {
  height: 0;
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  height: 0;
  border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  height: 0;
  border-radius: 0;
}
